@import "./Variables.scss";

.announcements-and-links {
  display: flex;
  flex-direction: row;
}
.section-announcements {
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.announcements-col {
  display: flex;
  flex-direction: column;
  background-color: rgba(white, 0.6);
  overflow-y: scroll;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  height: 230px;
}

.container-fluid {
  display: flex !important;
  width: 95%;
  margin-left: 0%;
}

.message {
  display: grid;
  grid-template-columns: minmax(140px, auto) minmax(200px, 100%);
  padding: 8px 0px 8px 5%;
  min-height: 30px;

  .hdr {
    font-family: SofiaProSemiBold;
  }
}

.message .when {
  color: $main-clr;
  padding: 0px 15px 0px 15px;
  text-align: right;
}

.card {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}
