.announcements-and-links {
  display: flex;
  flex-direction: row;
}
.section-announcements {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-links {
  display: flex;
  flex-direction: column;
}
.icons-container {
  display: flex;
  flex-direction: row;
}

#links-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 8px;
}
#slack {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#submit-project {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#wifi {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#contact-info {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#social-media-container {
  display: grid;
  grid-template-columns: 66px 66px 66px;
  grid-template-rows: 66px 132px;
  gap: 9px;
  margin-left: 10px;
}
#fb {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#ig {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#tw {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
#social-media-sell {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: #62b9c0;
  padding: 8px;
  border-radius: 5px;
  font-weight: 450;
}

.announcements-col {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #fbf8f2;
  overflow-y: auto;
  height: 229px;
  border-radius: 5px;
  margin-top: 0px;
  padding: 0px 0px 0px 0px;
  min-width: 400px;
}

.container-fluid {
  display: flex !important;
  width: 95%;
  margin-left: 0%;
}

.message {
  display: grid;
  grid-template-columns: minmax(110px, 17%) minmax(200px, 83%);
  padding: 3px 0px 0px 5%;
  height: 30px;
}

.message span:first-child {
  color: #07889b;
  padding: 0px 15px 0px 15px;
  text-align: right;
}

.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}