@import "./Variables.scss";

.links {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  a {
    text-decoration: none;
    color: $main-clr;
  }
}

.links-left {
  display: grid;
  grid-template-columns: 110px 110px;
  grid-template-rows: 110px 110px;
  gap: 8px;
}

.links-right {
  display: grid;
  grid-template-columns: 73px 73px 73px;
  grid-template-rows: 73px 146px;
  gap: 9px;
  margin-left: 10px;
}

.small-link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  background-color: white;
  border-radius: 5px;
  width: 73px;
  height: 73px;
  transition: all 0.3s ease;
}

.small-link:hover {
  transform: scale(1.04);
}

.big-link {
  background-color: white;
  width: 110px;
  height: 110px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;

  img {
    width: 60%;
  }
}

.big-link:hover {
  transform: scale(1.04);
}

#slack {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#submit {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#guide {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 5px;
  margin-bottom: 5px;
}

#contact {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#fb {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-top: 20%;
}

#ig {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-top: 20%;
}

#tw {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding-top: 20%;
}

