@import "./Variables.scss";

.container-main {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 650px;
  overflow-y: scroll;

  @media (orientation: portrait) {
    max-width: 300px;
  }
}
.larger-container {
  display: flex;
  flex-direction: column;
}
.header-padding-left {
  width: 70px;
}
.header-padding-right {
  width: 18px;
}
.container-header-row {
  display: flex;
  flex-direction: row;
}
.container-header {
  display: grid;
  width: 95%;
  background-color: transparent;
  grid-template-columns: 3.88% 19.42% 4.854% 19.42% 4.854% 19.42% 4.854% 19.42% 3.88%;
  grid-template-rows: 45px;

  @media (orientation: portrait) {
    width: 75%;
  }
}
.container-body {
  display: grid;
  width: 95%;
  grid-template-columns: 3.88% 19.42% 4.854% 19.42% 4.854% 19.42% 4.854% 19.42% 3.88%;
  grid-template-rows: 4px repeat(105, 45px);
  height: 4200px;
  background: repeating-linear-gradient(
    black 4px,
    transparent 5px,
    transparent 93px,
    black 94px
  );

  @media (orientation: portrait) {
    width: 75%;
  }
}
.container-time {
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: repeat(53, 48px);
  grid-row-gap: 42px;
}
.text {
  display: flex;
  justify-self: center;
  font-weight: bold;
  padding-top: 12px;
}
.container-time > .text {
  padding-right: 6px;
  padding-top: 0px !important;
  position: relative;
  margin-top: -5px;
  justify-self: right;
  font-size: 12px;
}

.heading {
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 0;
  margin-top: 0;
}
.description {
  color: black;
  font-size: 0.8em;
}
.details {
  color: black;
  font-size: 9px;
}

.item {
  width: 95%;
  border-radius: 8px;
  background-color: rgba($main-clr, 0.8);
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: all 0.3s ease-out;
}
.item:hover {
  filter: opacity(0.8);
  border: solid rgb(76, 141, 190);
  border-width: 0.5px 0px !important;
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
}

.buses {
  grid-column-start: 4;
  grid-column-end: 5;
}

.food {
  grid-column-start: 4;
  grid-column-end: 5;
}

.hxp {
  grid-column-start: 6;
  grid-column-end: 7;
}

.sponsor {
  grid-column-start: 8;
  grid-column-end: 9;
}
