<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/schedule.css">
  </head>
  <body>
    <div class="container-main">
      <div class="container-time">
        <div class="text">
          FRI 5PM
        </div>
        <div class="text">
          6PM
        </div>
        <div class="text">
          7PM
        </div>
        <div class="text">
          8PM
        </div>
        <div class="text">
          9PM
        </div>
        <div class="text">
          10PM
        </div>
        <div class="text">
          11PM
        </div>
        <div class="text">
          SAT 12AM
        </div>
        <div class="text">
          1AM
        </div>
        <div class="text">
          2AM
        </div>
        <div class="text">
          3AM
        </div>
        <div class="text">
          4AM
        </div>
        <div class="text">
          5AM
        </div>
        <div class="text">
          6AM
        </div>
        <div class="text">
          7AM
        </div>
        <div class="text">
          8AM
        </div>
        <div class="text">
          9AM
        </div>
        <div class="text">
          10AM
        </div>
        <div class="text">
          11AM
        </div>
        <div class="text">
          12PM
        </div>
        <div class="text">
          1PM
        </div>
        <div class="text">
          2PM
        </div>
        <div class="text">
          3PM
        </div>
        <div class="text">
          4PM
        </div>
        <div class="text">
          5PM
        </div>
        <div class="text">
          6PM
        </div>
        <div class="text">
          7PM
        </div>
        <div class="text">
          8PM
        </div>
        <div class="text">
          9PM
        </div>
        <div class="text">
          10PM
        </div>
        <div class="text">
          11PM
        </div>
        <div class="text">
          SUN 12AM
        </div>
        <div class="text">
          1AM
        </div>
        <div class="text">
          2AM
        </div>
        <div class="text">
          3AM
        </div>
        <div class="text">
          4AM
        </div>
        <div class="text">
          5AM
        </div>
        <div class="text">
          6AM
        </div>
        <div class="text">
          7AM
        </div>
        <div class="text">
          8AM
        </div>
        <div class="text">
          9AM
        </div>
        <div class="text">
          10AM
        </div>
        <div class="text">
          11AM
        </div>
        <div class="text">
          12PM
        </div>
        <div class="text">
          1PM
        </div>
        <div class="text">
          2PM
        </div>
        <div class="text">
          3PM
        </div>
        <div class="text">
          4PM
        </div>
      </div>
      <div class="container-header">
        <div class="text" id="gap"></div>
        <div class="text">
          MAIN TIMELINE
        </div>
        <div class="text" id="gap"></div>
        <div class="text">
          WORKSHOPS
        </div>
        <div class="text" id="gap"></div>
        <div class="text">
          EVENTS
        </div>
        <div class="text" id="gap"></div>

        <!--
        Items:
        columns: 2, 4, 6
        rows: 2 onwards
        -->
        <div class="item" id="item-a">
          <p class="heading">
            Hacker Check-In
          </p>
          <p class="description">
            4:30 - 6:30 pm<br>
            ESB Building
          </p>
          <p class="details">
            Come to the lobby to receive your swap and NFC wristband!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>