<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/schedule.css">
  </head>
  <body>
    <div class="container-main">
      <div class="container-time">
        <div class="text">
          FRI 12PM
        </div>
        <div class="text">
          1PM
        </div>
        <div class="text">
          2PM
        </div>
        <div class="text">
          3PM
        </div>
        <div class="text">
          4PM
        </div>
        <div class="text">
          5PM
        </div>
        <div class="text">
          6PM
        </div>
        <div class="text">
          7PM
        </div>
        <div class="text">
          8PM
        </div>
        <div class="text">
          9PM
        </div>
        <div class="text">
          10PM
        </div>
        <div class="text">
          11PM
        </div>
        <div class="text">
          SAT 12AM
        </div>
        <div class="text">
          1AM
        </div>
        <div class="text">
          2AM
        </div>
        <div class="text">
          3AM
        </div>
        <div class="text">
          4AM
        </div>
        <div class="text">
          5AM
        </div>
        <div class="text">
          6AM
        </div>
        <div class="text">
          7AM
        </div>
        <div class="text">
          8AM
        </div>
        <div class="text">
          9AM
        </div>
        <div class="text">
          10AM
        </div>
        <div class="text">
          11AM
        </div>
        <div class="text">
          12PM
        </div>
        <div class="text">
          1PM
        </div>
        <div class="text">
          2PM
        </div>
        <div class="text">
          3PM
        </div>
        <div class="text">
          4PM
        </div>
        <div class="text">
          5PM
        </div>
        <div class="text">
          6PM
        </div>
        <div class="text">
          7PM
        </div>
        <div class="text">
          8PM
        </div>
        <div class="text">
          9PM
        </div>
        <div class="text">
          10PM
        </div>
        <div class="text">
          11PM
        </div>
        <div class="text">
          SUN 12AM
        </div>
        <div class="text">
          1AM
        </div>
        <div class="text">
          2AM
        </div>
        <div class="text">
          3AM
        </div>
        <div class="text">
          4AM
        </div>
        <div class="text">
          5AM
        </div>
        <div class="text">
          6AM
        </div>
        <div class="text">
          7AM
        </div>
        <div class="text">
          8AM
        </div>
        <div class="text">
          9AM
        </div>
        <div class="text">
          10AM
        </div>
        <div class="text">
          11AM
        </div>
        <div class="text">
          12PM
        </div>
        <div class="text">
          1PM
        </div>
        <div class="text">
          2PM
        </div>
        <div class="text">
          3PM
        </div>
        <div class="text">
          4PM
        </div>
      </div>
      <div class="container-header">
        <div class="text" id="gap"></div>
        <div class="text">
          PRIMARY EVENTS
        </div>
        <div class="text" id="gap"></div>
        <div class="text">
          BUSES
        </div>
        <div class="text" id="gap"></div>
        <div class="text">
          FOOD
        </div>
        <div class="text" id="gap"></div>
        <div class="text">
          HACKER EXP
        </div>
        <div class="text" id="gap"></div>
        <div class="text">
          SPONSOR TALKS
        </div>
        <div class="text" id="gap"></div>
        <div class="text">
          MLH
        </div>
        <div class="text" id="gap"></div>
        <div class="text">
          SLEEP
        </div>
        <div class="text" id="gap"></div>

        <!--
        Items:
        columns: 2, 4, 6
        rows: 2 onwards
        -->
        <div class="item" id="item-a">
          <p class="heading">
            MLH Pallet Arrives
          </p>
          <p class="description">
          </p>
          <p class="details">
          </p>
        </div>
      </div>
    </div>
  </body>
</html>