.announcements {
  display: flex;
  flex-direction: row;
  background-color: #FBF8F2;
}

.announcements-col {
  display: flex;
  flex-direction: column;
  background-color: #FBF8F2;
  overflow: auto;
  border-radius: 5px;
  padding: 15px 10px;
}

.notiftimes {
  display: flex;
  flex-direction: column;
  width: 14.29%;
}

.notiftext {
  display: flex;
  flex-direction: column;
  width: 85.71%;
}

.notiftimestamp {
  color: #07889B;
}