.announcements {
  display: flex;
  flex-direction: row;
  background-color: #FBF8F2;
  height: 20px;
}

.announcements-col {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #FBF8F2;
  overflow-y: scroll;
  height: 200px;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  margin-right: 50%;
}

.container-fluid {
  display: flex !important;
  width: 95%;
  margin-left: 0%;
}

.notiftimes {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  text-align: right;
  width: 10%;
}

.notiftext {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 90%;
}

.notiftimestamp {
  color: #07889B;
}