.announcements {
  display: flex;
  flex-direction: row;
  background-color: #FBF8F2;
}

.announcements-col {
  display: flex;
  flex-direction: column;
  background-color: #FBF8F2;
  overflow: auto;
  border-radius: 5px;
  padding: 15px 0px
}

.container-fluid {
  display: flex !important;
  width: 90%;
}

.notiftimes {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 15%;
}

.notiftext {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.notiftimestamp {
  color: #07889B;
}