body {
  background-color: #F2E4CE;
  display: grid;
  margin: 4% 3% 0px 3%;
  grid-row-gap: 0.5em;
}

#header {
  color: #077F91;
  display: grid;
  text-align: left;
  grid-template-columns: 80% 20%;
}

#title {
  letter-spacing: 8px;
  margin-top: 10px;
  padding-top: 10px;
  text-transform: uppercase;
}

#subheading {
  color: #E99456;
  font-weight: bold;
}

#announcements {
  color: rgb(229, 144, 9);
}

#notif {
  display: flex;
  flex-direction: column;
  align-items: center;
}