body {
  background-color: #F2E4CE;
}
.container {
  display: flex;
  text-align: left;
}
#title {
  text-align: left;
  color: #077F91;
}
#subheading {
  color: #E99456;
  font-weight: bold;
}
#notif {
  display: flex;
  flex-direction: column;
  align-items: center;
}