.container-main {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 650px;
  overflow-y: scroll;
}
.larger-container {
  display: flex;
  flex-direction: column;
}
.container-header {
  display: grid;
  background-color: transparent;
  grid-template-columns: 70px 3.88% 19.42% 4.854% 19.42% 4.854% 19.42% 4.854% 19.42% 3.88%;
  grid-template-rows: 45px;
}
.container-body {
  display: grid;
  width: 95%;
  grid-template-columns: 3.88% 19.42% 4.854% 19.42% 4.854% 19.42% 4.854% 19.42% 3.88%;
  grid-template-rows: 4px repeat(105, 45px);
  height: 4700px;
  background:
    repeating-linear-gradient(
      black 4px,
      transparent 5px,
      transparent 48px,
      black 49px
    );
}
.container-time {
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: repeat(53, 48px);
  grid-row-gap: 42px;
}
.text {
  display: flex;
  justify-self: center;
  font-weight: bold;
  padding-top: 12px;
}
.container-time > .text {
  padding-right: 6px;
  padding-top: 0px !important;
  position: relative;
  margin-top: -5px;
  justify-self: right;
  font-size: 12px;
}

.heading {
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 0;
}
.description {
  color: black;
  font-size: 11px;
}
.details {
  color: black;
  font-size: 9px;
}

.item {
  width: 100%;
  border-radius: 8px;
  background-color: #66B9BF;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: all 0.3s ease-out;
}
.item:hover {
  transform: scale(1.05);
}

.primaryevents {
  grid-column-start: 2;
  grid-column-end: 3;
}

#item-a {
  grid-row-start: 2;
  grid-row-end: 3;
}

#item-b {
  grid-row-start: 7;
  grid-row-end: 13;
}

#item-c {
  grid-row-start: 14;
  grid-row-end: 18;
}

#item-d {
  grid-row-start: 18;
  grid-row-end: 20;
}

#item-e {
  grid-row-start: 92;
  grid-row-end: 94;
}

#item-f {
  grid-row-start: 94;
  grid-row-end: 98;
}

#item-g {
  grid-row-start: 101;
  grid-row-end: 104;
}

.buses {
  grid-column-start: 4;
  grid-column-end: 5;
}

#item-h {
  grid-row-start: 13;
  grid-row-end: 14;
}

#item-i {
  grid-row-start: 14;
  grid-row-end: 15;
}

#item-j {
  grid-row-start: 15;
  grid-row-end: 16;
}

#item-k {
  grid-row-start: 16;
  grid-row-end: 17;
}

#item-l {
  grid-row-start: 104; 
  grid-row-end: 106;
}

.food {
  grid-column-start: 4;
  grid-column-end: 5;
}

#item-m {
  grid-row-start: 14;
  grid-row-end: 20;
}

#item-n {
  grid-row-start: 26;
  grid-row-end: 28;
}

#item-o {
  grid-row-start: 42;
  grid-row-end: 45;
}

#item-p {
  grid-row-start: 50;
  grid-row-end: 53;
}

#item-q {
  grid-row-start: 61;
  grid-row-end: 64;
}

#item-r {
  grid-row-start: 74;
  grid-row-end: 76;
}

#item-s {
  grid-row-start: 90;
  grid-row-end: 92;
}

#item-t {
  grid-row-start: 97;
  grid-row-end: 98;
}

#item-u {
  grid-row-start: 98;
  grid-row-end: 100;
}

.hackerexp {
  grid-column-start: 6;
  grid-column-end: 7;
}

#item-v {
  grid-row-start: 20;
  grid-row-end: 26;
}

#item-w {
  grid-row-start: 58;
  grid-row-end: 61;
}

#item-x {
  grid-row-start: 65;
  grid-row-end: 69;
}

#item-y {
  grid-row-start: 92;
  grid-row-end: 94;
}

.sponsortalks {
  grid-column-start: 8;
  grid-column-end: 9;
}

#item-aa {
  grid-row-end: 45;
  grid-row-start: 47;
}

#item-ab {
  grid-row-end: 47;
  grid-row-start: 49;
}

#item-ac {
  grid-row-end: 49;
  grid-row-start: 51;
}

#item-ad {
  grid-row-start: 51;
  grid-row-end: 53;
}

#item-ae {
  grid-row-start: 53;
  grid-row-end: 55;
}

#item-af {
  grid-row-start: 55;
  grid-row-end: 57;
}

#item-ag {
  grid-row-start: 57;
  grid-row-end: 59;
}

#item-ah {
  grid-row-start: 59;
  grid-row-end: 61;
}